#bobep{
    display: none;
}
iframe {
    width: 85%;
    margin-top: 25px;
    margin-left: 7.5%;
    border: 1px solid black !important;
    border-radius: 5%;
}

#allinfo img {
    cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat195.cur), auto !important;
}

#allinfo {
    margin-left: 12.5%;
}

#carou {
    margin-left: 6.5%;
}

body {
    height: auto;
    /* Used to enable scrolling */
    background: linear-gradient(55deg, #4AA0A1 0%, #F2FCFD 51%, #57A8AC 85%);
}

.footer {
    display: flex;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url('images/sable.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.footer #merfoo {
    display: none;
}

.identity img {
    display: none;
}

.nav-link {
    color: white;
}

.picture {
    position: relative;
    left: 350px;
}

.carousel-item img {
    height: 320px;
    max-width: 100%;
}

.container {
    width: 93%;
    position: relative;
    right: 3%;
    margin-top: 5%;
    z-index: -1;
}

.nav {
    position: relative;
    bottom: 67px;
}

#vive {
    display: none;
}

#vive:hover {
    display: inline;
    font-style: italic;
    text-align: center;
    color: white;
    position: relative;
    bottom: 35px;
    font-size: 15px;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;
}

#picli {
    position: relative;
    bottom: 13px;
}

nav {
    height: 155px;
}

.para {
    width: 266px;
}

.imap img {
    height: 165px;
    width: 240px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.imap img:hover {
    box-shadow: 5px 5px 10px turquoise;
}

.info {
    margin-top: 10px;
    flex-direction: column;
    
}

.last {
    margin-bottom: 10px;
}

.descriptperso p {
    text-align: center;
    position: relative;
    right: 25%;
    font-weight: bold;
}

.perso2 p {
    position: relative;
    left: 26%;
    bottom: 40.5px;
    font-weight: bold;
}

/*.perso2{
    position: relative;
    left: 877px;
    bottom: 40px;
   
}
.perso2 p{
    display: inline;
}*/

.ph1 img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    right: 109px;
}

.ph2 img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    left: 109px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#foot {
    width: 100%;
    height: auto;
    background-image: url("images/sable.jpg");
    background-repeat: no-repeat;
    height: 220px;
    background-size: 100%;
}

@media (max-width: 640px) {
    .picture {
        display: none;
    }
    .nav-item {
        margin-top: -15px;
    }
}

#foot img {
    position: relative;
    top: 20px;
    left: 20px;
}

#foot iframe {
    position: relative;
    top: 20px;
    left: 40px;
}

#foot h2 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#coco {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 16px;
    line-height: 115%;
    color: rgb(0, 0, 0);
}

#coco2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6px;
    line-height: 33%;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

#co {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.coor {
    text-transform: uppercase;
}

#rsociaux {
    display: flex;
    position: relative;
    left: 72px;
    width: 50%;
}

#rsociaux1 {
    margin-right: 10px;
}

#rsociaux a {
    text-decoration: none;
    position: relative;
    bottom: 17px;
    left: 10px;
    color: black;
}

#rsociaux img {
    margin-bottom: 20px;
}

#rsociaux #tweet {
    position: relative;
    left: 15px;
}

#imgt {
    position: relative;
    left: 18px;
}

#rsociaux #fb {
    position: relative;
    left: 6px;
}

#pirate {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    line-height: 115%;
    color: black;
}

#pirate2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    line-height: 53%;
    color: black;
}

#pi {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 375px) and (max-width: 424px) {
    #allinfo {
        margin-left: 18%;
    }
    iframe {
        width: 70%;
        margin-left: 15%;
    }
    #rsociaux {
        margin-left: 3%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    
    
    #allinfo {
        margin-left: 22%;
    }
    #rsociaux {
        margin-left: 6%;
    }
    iframe {
        width: 70%;
        margin-left: 15%;
    }
}

@media( min-width: 768px) and (max-width: 1023px) {
    
    .picture{
        position: relative;
        left: 17%;
    }
    #allinfo {
        margin-right: 8.5%;
    }
    .info {
        flex-direction: row;
    }
    .descriptperso {
        margin-right: 16%;
    }
    .perso2 {
        margin-left: 16%;
    }
    #rsociaux {
        margin-left: 25%;
    }
    #rsociaux a {
        bottom: 6px;
    }
    iframe {
        width: 60%;
        height: 300px;
        margin-left: 19.5%;
    }
    .info2{
        display: flex;
        flex-direction: row-reverse;
    }
}
@media screen and (width: 1024px){
    #carou{
        position: relative;
        right: 7%;
    }
    .picture{
        position: relative;
        left: 23% !important;
    }
    
    #rsociaux{
        position: relative;
        left: 2%;
    }
    .info2{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 12%;
    }
    .para{
        margin-right: 4.5%;
    }
}
@media (min-width: 1024px) and (max-width: 1600px) {
    .perso2 {
        display: inline-block;
    }
    .descriptperso p, .perso2 p {
        z-index: -1;
    }
    .picture {
        position: relative;
        left: 30.5%;
        font-size: 2vw;
    }
    #carou {
        margin-left: 10.5%;
        margin-bottom: 2%;
    }
    .info {
        flex-direction: row;
        position: relative;
        right: 6%;
    }
    .imap {
        margin-right: 3%;
    }
    iframe {
        width: 50%;
        height: 400px;
        margin-left: 25%;
    }
    #rsociaux {
        margin-left: 36.5%;
    }
    #tweet, #fb {
        bottom: 4.5px !important;
    }
    .info2{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 12.5%;
    }
    .para{
        margin-right: 4.5%;
    }
    #bobep{
        display: block;
        width:35%;
        position: relative;
        left:65%;
    }
    #but{
        position: relative;
        bottom:85px;
        left:59%
    }
    
}
